<h2>This trip has <%= pluralize(@traveldays.count, "travel day") %>. 
The estimated total budget is $<%= @total_budget %>.</h2>

<!-- displaying the travel days -->
<% @traveldays.each do |td| %>
    <p><%= td.content %></p>
    <p>$<%= td.budget %></p>
    <%= link_to 'Edit', edit_post_travelday_path(td.post, td) %>
    <%= link_to 'Delete', post_travelday_path(td.post, td), method: :delete %>
<% end %>

<!-- form for adding an extra travel day -->
<%= render 'traveldays/form' %>