<%= form_for([@post, @travelday]) do |f| %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :budget %>
    <%= f.number_field :budget %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
  <%= link_to 'Back', post_path(@post) %>
<% end %>
